langchain
langchain-community
qdrant-client
pypdf
langchain-qdrant
sentence-transformers
anthropic
google-generativeai
python-dotenv
requests
protobuf
pytesseract
pillow
streamlit
pandas
SQLAlchemy
langchain-text-splitters
langchain-core
SpeechRecognition